footer {
    display: flex;
    margin: auto;
    max-width: 1200px;
    background: $background;
    justify-content: space-between;
    height: 200px;
    padding: 0 250px;
    align-items: center;

    .right {
        justify-content: flex-end;
        display: flex;
        width: 500px;
        gap: 30px;
    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        gap: 20px;
        color: $blue;
        font-size: 1.1em;
        line-height: 50px;
    }

    li:not(:first-of-type) {
        list-style-type: "·";
        padding-left: 20px;
    }
    
    h3 {
        font-size: 0.9em;
        font-weight: 300;
    }

    img {
        width: 30px;
        height: 30px;
        filter: invert(51%) sepia(67%) saturate(7497%) hue-rotate(200deg) brightness(103%) contrast(105%);
    }


}