@mixin container {
    max-width: 1200px;
    margin: auto;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: left;

    .content {

        padding: 0 70px;

        h1 {
            font-size: 1.8em;
            padding-bottom: 10px;
        }

        p {
            font-weight: 300;
            font-size: 1.1em;
            line-height: 30px
        }
    }

}

@mixin img-style {
    background: url(../images/bg-showcase-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 600px;
    max-width: 600px;
}