@mixin container {
    height: 550px;
    display: flex;
    align-items: center;
    text-align: justify;
}

@mixin img-style {
    background: url(/app/images/bg-showcase-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 550px;
    width: 844px;
}